@import "../../assets/variables.scss";

.projects {
  .section-title {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    margin-bottom: $m--md;

    justify-content: space-between;
    align-items: center;
  }

  &__btns-control {
    display: flex;
    gap: $m--md;
  }
}
