@import "../../assets/variables.scss";

.projects {
  .section-title {
    margin-bottom: $m--md;
  }

  &__btns-control {
    display: flex;
    justify-content: center;
    gap: $m--lg;
    margin-top: $m--md;
  }
}
