@import "../../assets/variables.scss";

.project {
  border: 1px solid $color-secondary-2;
  border-radius: $p--md;
  padding: $p--lg;
  @extend .project__header;

  &__modal {
    position: fixed;
    inset: 0;
    border: none;
    box-shadow: none;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
    background-color: $background-dark;

    &-img {
      width: 100%;
      max-width: 1300px;
      margin: calc(2.5rem + 2 * $p--lg) 0;
    }

    &-close {
      display: flex;
      justify-content: flex-end;
      position: fixed;
      top: 0;
      right: 0;
      background-color: $color-dark-green;
      padding: $p--lg;
      width: 100%;

      .bi {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &-btns {
      display: flex;
      justify-content: center;
      gap: $m--lg;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background: $color-dark-green;
      padding: $p--lg;

      .bi {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &__name {
    text-align: center;
    margin-bottom: $m--xs;
  }

  &__desc {
    text-align: center;
  }

  &__technologies {
    display: flex;
    gap: $m--sm;
    margin-bottom: -6px;
  }

  &__technology {
    width: 2rem;
    height: 2rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: $m--sm;
  }

  &__preview-img-wrapper {
    max-height: 20rem;
    overflow: hidden;
    cursor: pointer;
  }

  &__preview-img {
    width: 100%;
  }

  &__view-btns {
    display: flex;
    justify-content: center;
    gap: $m--md;

    .project__view-btn {
      color: whitesmoke;
      background-color: $color-secondary;
      padding: $p--sm $p--md;
      border-radius: $p--md;
    }
  }
}
