@import "../../assets/variables.scss";

.education {
  &__content {
    display: grid;
    gap: $m--md;
    justify-content: center;
  }

  &__years {
    font-size: $fs--xs;
  }

  &__card {
    display: flex;
    gap: $m--md;
    height: 100%;
    background: var(--c-primary);
    background: var(--c-primary-gradient--webkit);
    background: var(--c-primary-gradient);
    padding: $p--lg;
    border-radius: $p--xs;
    color: var(--c-text--inBox);

    &-content {
      display: flex;
      flex-direction: column;
      gap: $m--xs;
    }

    .bi {
      color: $c-accent;
      margin-left: $m--xs;
      min-width: 2rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .education__content {
    gap: $m--lg;
    grid-template-columns: 1fr 1fr;
  }
}
