@import "../../assets/variables.scss";

.education {
  max-width: $max-w--sm;
  &__content {
    display: flex;
    gap: $m--md;
    flex-direction: column;
    align-items: center;
  }

  &__years {
    font-size: $fs--xs;
    color: silver;
  }

  &__card {
    display: flex;
    gap: $m--md;
    background: $c-black-matte;
    background: $c-black-matte-gradient;
    background: $c-black-matte-gradient--webkit;
    padding: $p--lg;
    max-width: 570px;
    border-radius: $p--xs;

    &-content {
      display: flex;
      flex-direction: column;
      gap: $m--xs;
    }

    .bi {
      color: $c-aqua;
      margin-left: $m--xs;
      min-width: 2rem;
    }
  }
}
