@import "../../assets/variables.scss";

.menu {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 99;
  border-top: 3px solid $c-aqua;
  background: $c-black-matte;
  background: $c-black-matte-gradient;
  background: $c-black-matte-gradient--webkit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__item {
    color: silver;
    padding: $p--lg;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    transition: $transition-fast;

    &-name {
      display: none;
    }

    .bi {
      font-size: 1.5rem;
    }

    &:hover {
      background: $background;
      color: $c-aqua;

      .bi {
        color: $c-aqua;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .menu__item-name {
    display: block;
  }
}
