@import "../../assets/variables.scss";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $m--sm;
  text-align: center;
  background: $hero-background-gradient;
  background: $hero-background-gradient--webkit;

  &__img-glow-border {
    position: relative;
    display: inline-block;
    padding: 6px;
    background: $color-primary-gradient;
    background: $color-primary-gradient--webkit;
    filter: drop-shadow(0 0 12px $color-primary);
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    animation: rotateGradient 3s infinite linear;

    @keyframes rotateGradient {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 100%;
      }
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    display: block;
    max-width: 100%;
    border-radius: inherit;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: $m--xs;
  }

  &__name {
    position: relative;
    font-size: 2rem;
    letter-spacing: 3px;
    border-right: 5px solid $color-primary;
    padding-left: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s forwards;
    background: $color-primary-gradient;
    background: $color-primary-gradient--webkit;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    @keyframes typing {
      0% {
        width: 0;
      }
      100% {
        border-color: transparent;
      }
    }
  }

  &__job {
    background: $background-dark;
    background: $background-dark-gradient;
    background: $background-dark-gradient--webkit;
    padding: $m--xs $m--sm;
    border-radius: $p--xs;
    letter-spacing: 3px;
    width: fit-content;
    margin: 0 auto;
  }

  &__btns {
    display: flex;
    justify-content: center;
    gap: $m--md;
    margin: $m--sm 0;
  }

  &__desc {
    background: $background-dark;
    background: $background-dark-gradient;
    background: $background-dark-gradient--webkit;
    padding: $m--sm;
    border-left: 6px solid $color-primary;
    font-style: italic;
    color: silver;
    line-height: $long-text-lh;
    font-size: $fs--sm;
    max-width: 630px;
  }
}
