@import "../../assets/variables.scss";

.hero {
  &__gradient {
    position: absolute;
    background: $hero-background-gradient;
    filter: blur(80px);
    opacity: 0.5;
    width: 90%;
    height: 15rem;
  }

  .container {
    display: grid;
    gap: $m--sm;
    text-align: center;
    backdrop-filter: blur(10px);
  }

  &__img {
    display: block;
    max-width: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid $c-aqua;
    filter: drop-shadow(0 0 12px $c-aqua);
    margin: auto;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $m--xs;
  }

  &__name {
    position: relative;
    font-size: 1.8rem;
    letter-spacing: 3px;
    border-right: 5px solid $c-aqua;
    padding-left: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s forwards;
    background: $c-aqua-gradient;
    background: $c-aqua-gradient--webkit;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    @keyframes typing {
      0% {
        width: 0;
      }
      100% {
        border-color: transparent;
      }
    }
  }

  &__job {
    background: $c-black-matte;
    background: $c-black-matte-gradient;
    background: $c-black-matte-gradient--webkit;
    padding: $m--xs $m--sm;
    border-radius: $p--xs;
    letter-spacing: 3px;
    color: $c-text-lighter;
  }

  &__cv {
    position: relative;
  }

  &__cv-text {
    color: $c-text;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.5rem;
    font-weight: 800;
    letter-spacing: normal;
  }

  &__btns {
    display: flex;
    gap: $m--lg;
    margin: $m--sm 0;
  }

  &__desc {
    background: $c-black-matte;
    background: $c-black-matte-gradient;
    background: $c-black-matte-gradient--webkit;
    padding: $m--sm;
    border-left: 6px solid $c-aqua;
    font-style: italic;
    line-height: $lh-text;
    max-width: $max-w--desktop;
  }
}

@media (min-width: 768px) {
  .hero {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $m--lg;
    }

    &__img {
      width: 250px;
      height: 250px;
      margin: unset;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: $m--md;
  }
}
