@import "../../../assets/variables.scss";

.project {
  border-radius: $p--md;
  min-height: 28rem;
  animation-delay: 200ms;

  @extend .project__header;

  &__name {
    color: $c-accent;
    margin-bottom: $m--sm;
  }

  &__features {
    line-height: $lh-text;

    &-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: $m--xs;

      .project__feature {
        position: relative;
        padding-left: 1rem;

        &::before {
          content: "•";
          position: absolute;
          left: 0;
        }
      }
    }
  }

  &__technologies {
    display: flex;
    justify-content: space-evenly;
    gap: $m--sm;
    padding: $p--xs;
    border-radius: $p--md $p--md 0 0;
    background-color: $c-medium-green--dark;
  }

  &__technology {
    width: 2rem;
    height: 2rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: $m--md;
  }

  &__href-links {
    display: flex;
    justify-content: center;
    gap: $m--lg;
    margin-top: $m--md;

    .project__href-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--c-text);
      font-weight: 600;
      font-size: small;
    }
  }

  &__preview-img-wrapper {
    max-height: 140px;
    max-width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-bottom-left-radius: $p--md;
    border-bottom-right-radius: $p--md;
    border: 1px solid $c-medium-green--dark;
  }

  &__preview-img {
    display: block;
    width: 100%;
    cursor: pointer;
    border-bottom-left-radius: $p--md;
    border-bottom-right-radius: $p--md;
  }

  &__view-btns {
    display: flex;
    justify-content: center;
    gap: $m--md;
    margin-top: $m--sm;

    .project__view-btn {
      color: var(--c-text--inBox);
      background-color: $c-medium-green;
      padding: $p--sm $p--md;
      border-radius: $p--md;
      border: 1px solid transparent;

      transition: $transition-fast;

      &:hover {
        background-color: $c-medium-green !important;
      }

      &.unactive {
        background-color: unset;
        color: var(--c-text);
        border: 1px solid $c-medium-green;

        &:hover {
          color: var(--c-text--inBox);
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .project {
    border: 3px solid $c-medium-green;
    box-shadow: $box-shadow;
    padding: $p--xxl;
    &__header {
      flex-direction: row;
      align-items: center;
    }

    &__preview-img-wrapper {
      max-height: 240px;
      max-width: 750px;
    }

    &__preview {
      order: 1;
      width: 50%;
    }

    &__features {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }
}
