@import "../../../assets/variables.scss";

.options {
  .bi {
    height: 1.55rem;
  }

  display: flex;
  justify-content: end;
  gap: $m--sm;
  padding: $m--sm 0;

  &__flag {
    height: 2rem;
    width: 2rem;
  }
}
