@import "../../assets/variables.scss";

.contact {
  &__btns {
    display: grid;
    grid-template-columns: 1fr;
    gap: $m--md;

    .contact__btn {
      position: relative;
      display: flex;
      gap: $m--xs;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--c-text--inBox);
      background: var(--c-primary);
      background: var(--c-primary-gradient--webkit);
      background: var(--c-primary-gradient);
      padding: $p--md;
      border-left: 6px solid $c-accent;

      &:hover * {
        color: $c-accent !important;
      }

      .bi {
        color: var(--c-text--inBox);
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .contact {
    &__btns {
      grid-template-columns: 1.3fr 1fr 1fr;
    }
  }
}
