@import "../../../assets/variables.scss";

.menu {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 99;
  border-top: 1px solid $color-primary;
  background: $background-dark;
  background: $background-dark-gradient;
  background: $background-dark-gradient--webkit;
  display: flex;
  justify-content: space-evenly;

  &__item {
    color: silver;
    padding: $m--sm;
    transition: $transition-fast;

    .bi {
      width: 1.3rem;
      color: silver;
    }

    &:hover {
      background: $background;
      color: $color-primary;

      .bi {
        color: $color-primary;
      }
    }
  }
}
