$color-dark-green: #091418;

$background: $color-dark-green;
$text-color: whitesmoke;

$hero-background-gradient--webkit: -webkit-linear-gradient(
  to bottom,
  #091418,
  #203a43,
  #091418
);
$hero-background-gradient: linear-gradient(
  to top,
  #091418,
  #091418,
  #203a43,
  #091418
);

$background-dark: #202020;
$background-dark-gradient--webkit: -webkit-linear-gradient(
  to right,
  #202020,
  #172123
);
$background-dark-gradient: linear-gradient(to bottom, #202020, #172123);

$color-primary: #50c9c3;
$color-secondary: #203a43;
$color-secondary--dark: #192e36;
$color-secondary-2: silver;
$color-primary-gradient--webkit: -webkit-linear-gradient(
  to right,
  #96deda,
  #50c9c3
);
$color-primary-gradient: linear-gradient(to right, #96deda, #50c9c3);

[data-theme="light"] {
}

// margins
$m--xs: 0.6rem;
$m--sm: 1.2rem;
$m--md: 2.4rem;
$m--lg: 4.8rem;

// paddings, border-radius

$p--xs: 5px;
$p--sm: 10px;
$p--md: 15px;
$p--lg: 20px;

// transitions
$transition-fast: all 0.15s ease-in-out;
$transition-slow: all 0.3s ease-in-out;
$transition-very-slow: all 0.6s ease-in-out;

// width

$max-w--sm: 760px;

// typography

$long-text-lh: 1.6rem;
$fs--xs: 0.8rem;
