@import "../../../assets/variables.scss";

.project__modal {
  position: fixed;
  inset: 0;
  border: none;
  box-shadow: none;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  background-color: var(--c-primary);

  &-img-wrapper {
    overflow-y: scroll;
    height: calc(100vh - 180px);
  }

  &-img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  &-close-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: $p--lg;
    height: 90px;
    background: var(--c-primary--dark);

    .bi {
      font-size: 2.5rem;
      color: var(--c-text--inBox);
    }
  }

  &-btns {
    display: flex;
    justify-content: center;
    gap: $m--lg;
    width: 100%;
    background: var(--c-primary--dark);
    padding: $p--lg;
    height: 90px;

    .bi {
      font-size: 2.5rem;
      color: var(--c-text--inBox);
    }
  }
}
