@import "../../../assets/variables.scss";

.project__modal {
  position: fixed;
  inset: 0;
  border: none;
  box-shadow: none;
  width: 100vw;
  height: 100dvh;
  z-index: 999;

  &.show {
    display: grid;
    grid-template-rows: 90px auto 90px;
  }

  background-color: var(--background);

  &-img-wrapper {
    overflow-y: auto;
  }

  &-img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  &-close-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: $p--md;
    background: var(--c-primary--dark);

    .bi {
      font-size: 2.5rem;
      color: var(--c-text--inBox);
    }
  }

  &-btns {
    display: flex;
    justify-content: center;
    gap: $m--lg;
    width: 100%;
    background: var(--c-primary--dark);
    padding: $p--md;

    .bi {
      font-size: 2.5rem;
      color: var(--c-text--inBox);
    }
  }
}
