@import "../../assets/variables.scss";

.options {
  position: relative;
  z-index: 2;
  display: flex;
  gap: $m--md;
  padding-top: $m--sm;
  padding-bottom: $m--sm;

  .bi {
    color: var(--c-text);
  }

  &__flag {
    height: 2rem;
    width: 2rem;
  }
}
