@import "../../assets/variables.scss";

.options {
  display: flex;
  justify-content: end;
  gap: $m--sm;
  padding-top: $m--sm;
  padding-bottom: $m--sm;

  &__flag {
    height: 2rem;
    width: 2rem;
  }
}
