@import "./assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

// Reset

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: $transition-slow;

  &:hover {
    transform: scale(0.95);
  }
}

.bi {
  color: white;
  width: 2rem;
  height: 2rem;
}

// General

#root {
  background: $background;
  min-height: 100vh;
  color: whitesmoke;
  font-size: 18px;
  font-family: "League Spartan", sans-serif;
  letter-spacing: 1px;
}
