@import "./assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Reset

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 6px;
  background: $c-dark-green;
}

::-webkit-scrollbar-thumb {
  background: $c-accent;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $c-medium-green;
}

// General

#root {
  background: var(--background);
  min-height: 100vh;
  color: var(--c-text);
  font-family: "League Spartan", sans-serif;
  padding-bottom: 7.5rem;

  &[data-theme="light"] .hero__gradient {
    display: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: $m--lg;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  * {
    transition: $transition-fast;
  }

  &:hover * {
    color: $c-accent;
  }
}

.bi {
  color: var(--c-text);
  font-size: 2rem;
  transition: $transition-fast;

  &:hover {
    color: $c-accent !important;
  }
}

.section-title {
  letter-spacing: 3px;
  color: $c-accent;
  margin-bottom: $m--md;
  font-size: 1.8rem;
}

.scroll-div {
  scroll-margin: $m--md;
}

.modal-open {
  overflow: hidden;
}

.copy-icon {
  font-size: inherit;
}

.copy-message {
  position: absolute;
  visibility: hidden;
  bottom: 0;
  opacity: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%);

  &.visible {
    visibility: visible;
    opacity: 1;
    bottom: -1.5rem;
  }
}

.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .app {
    margin-left: 150px;
  }

  #root {
    > .options {
      display: none;
    }
    padding-bottom: $m--md;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.scaleDown {
  animation: scaleDown 3s ease-in-out;
}
